@font-face {
    font-family: "Graphik LC Web Medium";
    src: url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-medium/graphik-lc-medium.eot");
    src: url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-medium/graphik-lc-medium.eot?#iefix")format("embedded-opentype"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-medium/graphik-lc-medium.woff")format("woff"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-medium/graphik-lc-medium.woff2")format("woff2"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-medium/graphik-lc-medium.ttf")format("truetype"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-medium/graphik-lc-medium.svg#Graphik LC Web Medium")format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik LC Web Regular";
    src: url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-regular/graphik-lc-regular.eot");
    src: url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-regular/graphik-lc-regular.eot?#iefix")format("embedded-opentype"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-regular/graphik-lc-regular.woff")format("woff"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-regular/graphik-lc-regular.woff2")format("woff2"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-regular/graphik-lc-regular.ttf")format("truetype"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-regular/graphik-lc-regular.svg#Graphik LC Web Regular")format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Graphik LC Web Bold";
    src: url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-bold/graphik-lc-bold.eot");
    src: url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-bold/graphik-lc-bold.eot?#iefix")format("embedded-opentype"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-bold/graphik-lc-bold.woff")format("woff"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-bold/graphik-lc-bold.woff2")format("woff2"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-bold/graphik-lc-bold.ttf")format("truetype"),
        url("http://tangemtest.kengurumi.ru/fonts/graphik-lc-bold/graphik-lc-bold.svg#Graphik LC Web Bold")format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}