.rightBottomBanner {
    height: 349px;
    width: 600px;
    border-radius: 16px;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.45);
    background-image: url("/images/rightBottomBanner_background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: fixed;
    bottom: 60px;
    right: 34px;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.isVisible {
        opacity: 1;
    }

    &.isClosed {
        display: none;
    }

    @media (max-width: 668px) {
        right: 10px;
    }

    @media (max-width: 640px) {
        right: 0px;
        left: 0px;
        width: 100%;
        border-radius: 0px;
        background-position: right center;
    }

    @media (max-width: 500px) {
        background-position: right 30% center;
    }

    .close {
        position: absolute;
        width: 24px;
        height: 24px;
        cursor: pointer;
        top: 15px;
        right: 15px;
        background-image: url("/images/closeButton.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content {
        margin-left: 284px;
        width: 316px;

        @media (max-width: 640px) {
            margin-left: auto;
            margin-right: 30px;
        }

        @media (max-width: 470px) {
            margin-left: auto;
            margin-right: auto;
        }

        .event {
            color: #FFF;
            text-align: center;
            font-family: "Graphik LC Web Medium";
            font-size: 46px;
            font-weight: 500;
            line-height: 56px;
            letter-spacing: -1.84px;
            margin-top: 67px;
        }

        .discount {
            margin-top: 14px;
            text-align: center;
            font-family: "Graphik LC Web Medium";
            font-size: 40px;
            font-weight: 500;
            line-height: 44px;
            letter-spacing: -1.6px;
            background-image: linear-gradient(to right, #7D5317 35%, #EDDF95 75%);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .coupon {
            color: #6C6C70;
            font-family: "Graphik LC Web Medium";
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.08px;
            line-height: 20.8px;
            margin-top: 13px;
            text-align: center;

            .couponName {
                color: #D7A830;
            }
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 39px;
            height: 42px;
            width: 256px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 14px;
            background: rgba(255, 255, 255, 0.10);
            color: #FFF;
            text-align: center;
            font-family: "Graphik LC Web Medium";
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.08px;
            transform: translateY(1px);
        }
    }
}